@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterPage.cshtml";
}
@{
    var featureImage = CurrentPage.FeatureImage != null ? Umbraco.Media(CurrentPage.FeatureImage).umbracoFile : "";
}
@{   var selection = CurrentPage.AncestorOrSelf(1).Descendants("articlePage").Where("ShowOnHomePage == true").Where("Visible"); }
<!-- Main -->
<div class="wrapper">
    <div class="container" id="main">
        <div class="row 150%">
            <div class="4u 12u(narrower)">

                <!-- Sidebar -->
                <section id="sidebar">     
                    @foreach (var item in selection)
                    {
                        var featureImageArticle = item.FeatureImage != null ? Umbraco.Media(item.FeatureImage).umbracoFile : "";
                        <section>
                            <header>
                                <h3><a href="@item.Url">@item.PageName</a></h3>
                            </header>
                            <a href="@item.Url" class="image featured"><img src="@featureImageArticle" alt="" /></a>
                            
                            <p>
                              @item.PageDescription
                            </p>
                            <ul class="actions">
                                <li><a href="@item.Url" class="button">Xem thêm</a></li>
                            </ul>
                        </section>
                    }

                    
                </section>

            </div>
            <div class="8u 12u(narrower) important(narrower)">

                <!-- Content -->
                <article id="content">
                    <header>
                        <h2>@CurrentPage.PageName</h2>
                        <p>
                            @CurrentPage.PageDescription
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="@featureImage" alt="" /></a>
                    @CurrentPage.MainContent
                </article>

            </div>
        </div>
        
    </div>
    <section class="container">
        <header class="major">
            <h2>100% sản phẩm được chiết xuất từ thiên nhiên 100%</h2>
            <p>Sự khác biệt cơ bản giữa mỹ phẩm thiên nhiên và mỹ phẩm thường nằm ở Chất lượng nguyên liệu. Mỹ phẩm thiên nhiên nuôi dưỡng và phục hồi tế bào da, tóc bằng tinh dầu, chiết xuất và các hoạt chất khác từ thiên nhiên …</p>
        </header>
        @Html.Partial("ListProductsAtHomePage")
        </section>
</div>
