@using Merchello.FastTrack.Ui
@using Merchello.Web
@using XPTT.Web.App_Code.Helpers
@inherits Merchello.Web.Mvc.MerchelloTemplatePage 
@{
    Layout = null;
}

@{
    var homepage = Umbraco.TypedContentAtRoot().First() as IPublishedContent;
    var isHomepage = CurrentPage.DocumentTypeAlias == "homePage";
    string metaTitle = !String.IsNullOrEmpty(CurrentPage.MetaTitle) ? CurrentPage.MetaTitle : (!String.IsNullOrEmpty(CurrentPage.GetPropertyValue<string>("pageTitle")) ? CurrentPage.GetPropertyValue<string>("pageTitle") : CurrentPage.PageName);
    string metaDescription = !String.IsNullOrEmpty(CurrentPage.GetPropertyValue<string>("metaDescription")) ? CurrentPage.GetPropertyValue<string>("metaDescription") : !String.IsNullOrEmpty(CurrentPage.PageDescription) ? CurrentPage.PageDescription : "";
    string metaKeyword = !String.IsNullOrEmpty(CurrentPage.GetPropertyValue<string>("metaKeywords")) ? CurrentPage.GetPropertyValue<string>("metaKeywords") : "";
    var mediaFile = !String.IsNullOrEmpty(CurrentPage.FeatureImage.ToString()) ? CurrentPage.FeatureImage : null;
    var featureImageArticle = mediaFile != null && Umbraco.Media(mediaFile).umbracoFile.GetType() != typeof(Umbraco.Core.Dynamics.DynamicNull) ? "http://" + HttpContext.Current.Request.Url.Host + Umbraco.Media(mediaFile).umbracoFile : "";
    IEnumerable<Merchello.Web.Models.VirtualContent.IProductContent> listProducts = homepage != null ?
        homepage.GetPropertyValue<IEnumerable<Merchello.Web.Models.VirtualContent.IProductContent>>("FeatureProducts")
        : Enumerable.Empty<Merchello.Web.Models.VirtualContent.IProductContent>();

    var basketPage = ExampleUiHelper.Content.GetBasket();
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<!--<![endif]-->
<head>
    <title>@metaTitle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
 
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/App_Plugins/Merchello/client/css/merchello.ui.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <meta content="@metaDescription" name="description" />
    <meta content="@metaKeyword" name="keywords" />
    <meta name="robots" content="index,follow" />
    <meta name="Googlebot" content="index,follow,noarchive" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="xaphongthantre.vn" />
    <meta http-equiv="content-language" content="vi" />
    <meta property="og:url" content="@CurrentPage.UrlAbsolute()" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@metaTitle" />
    <meta property="og:description" content="@metaDescription" />
    <meta property="og:image" content="@featureImageArticle" />
    <link href="/Images/bamboo-icon-75293.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta name="google-site-verification" content="j8nmCPm6FnuJ4hLDdqG5K9uaxDVQhgjZMOzko3Y2jQs" />
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-92626638-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '164019681106102');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=164019681106102&ev=PageView&noscript=1"
              /></noscript>
    <!-- End Facebook Pixel Code -->

    @*<script id="mcjs" type="text/javascript">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/2f2bbbb373cd8dd6ceb79873d/a12dc9e38c79f67550a804f6e.js");</script>*@
</head>
<body class="homepage">
<div class="floating-header">
    <div id="header" class="container">
        <!-- Logo -->
        <h1 id="logo">
            <a href="/">Nature Clean Store</a>
        </h1>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="#list_products">Sản phẩm</a>
                    @if (listProducts.Any())
                    {
                        <ul>
                            @foreach (var item in listProducts)
                            {
                                <li><a href="@item.Url">@item.Name</a></li>
                            }
                        </ul>
                    }

                </li>
                <li style="padding: 0 65px;"><a href="/trang-chu/chia-se/">Chia sẻ</a></li>
                <li class="break" style="padding-left:70px"><a href="#contact-us">Liên hệ</a></li>
                <li>
                    <a href="@basketPage.Url">
                        <span class="glyphicon glyphicon-shopping-cart shopping-cart" aria-hidden="true"></span> Giỏ hàng
                        (<span data-muilabel="basketcount">@CurrentCustomer.Basket().TotalQuantityCount</span>)
                    </a>
                </li>

            </ul>
        </nav>

    </div>
</div>


<div id="page-wrapper">
    <div id="header-wrapper" class="@(isHomepage ? "" : "headerBG")">
        @if (isHomepage)
        {
            <div class="homecoverimage">
                <img src="/images/HomeCover4.jpg"/>
            </div>

        }

        @if (isHomepage)
        {
            <!-- Hero -->
            <section id="hero" class="container">
                <header>
                    <b>
                        <h2>
                            Xà phòng than tre hoạt tính <Br/> Active Bamboo Charcoal Soap
                        </h2>
                    </b>
                </header>
                @*<p>
                    <strong> 100% CHIẾT XUẤT THIÊN NHIÊN. <br/>Sản phẩm được xuất khẩu sang Nhật Bản từ năm 2009</strong>
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Xem thêm</a></li>
                </ul>*@
            </section>
        }

    </div>
    @RenderBody()
    <div id="footer-wrapper">
        <div id="footer" class="container">
            <header class="major" id="contact-us">
                <h2>Liên hệ với chúng tôi</h2>
                <p>
                    Hot line: 0934509023 - 0947337087 (imess, facetime, zalo, viber)
                </p>
            </header>
            <div class="row">
                <section class="6u 12u(narrower)">
                    <p>
                        Cơ sở 1: Tầng 6, tòa nhà BIDV, 3 Hàng Vôi, quận Hoàn Kiếm, Hà nội <br/>
                        Tel: 0934509023. Từ 9-18h.
                    </p>
                    <p>
                        Cơ sở 2: Tầng 16, tòa nhà Cland, 156 Xã Đàn 2, quận Đống Đa, Hà Nội<br/>
                        Tel: 0947337087. Từ 9-18h.
                    </p>
                    <p>
                        Cơ sở 3: 19 ngõ 298/26/25 Ngọc Lâm, quận Long Biên, Hà nội <br/>
                        Tel: 09 345 090 23. Từ 19-22h.
                    </p>
                </section>
                <section class="6u 12u(narrower)">
                    <div class="row 0%">
                        <ul class="divided icons 6u 12u(mobile)" style="width: 70%">
                            <li class="icon fa-facebook"><a href="https://www.facebook.com/XaPhongThanTre/" target="_blank"><span class="extra">facebook.com/</span>XaPhongThanTre</a></li>
                            <li class="icon fa-instagram"><a href="#"><span class="extra">instagram.com/</span>XaPhongThanTre</a></li>
                            <li class="icon fa-envelope"><a href="mailto:xaphong.thiennhien@xaphongthantre.vn" target="_blank"><span class="extra">xaphong.thiennhien</span>@@xaphongthantre.vn</a></li>
                            @*<li class="icon fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>*@
                        </ul>
                        <ul class="divided icons 6u 12u(mobile)">
                            @*<li class="icon fa-instagram"><a href="#"><span class="extra">instagram.com/</span>untitled</a></li>*@
                            @*<li class="icon fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>*@
                            @*<li class="icon fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>*@
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div id="copyright" class="container">
            <ul class="menu">
                <li><a href="/trang-chu/quy-dinh-va-chinh-sach-mua-hang/">Quy định và chính sách mua hàng</a></li>
                <li>&copy; Copyright by XaPhongThanTre.vn. All rights reserved.</li>
                <li>Design by Natural cleansing body store</li>
            </ul>
        </div>
    </div>
</div>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.cookie.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>

<!-- MUI dependencies -->

<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/assets/js/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/underscore.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- new Merchello UI scripts -->
<script src="~/App_Plugins/Merchello/client/js/merchello.ui.js"></script>
<script src="~/App_Plugins/Merchello/client/js/merchello.ui.settings.js"></script>
<script src="~/App_Plugins/Merchello/client/js/fasttrack.js"></script>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
@*<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"2f2bbbb373cd8dd6ceb79873d","lid":"60505f88ee"}) })</script>*@
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v3.2'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="379605262421356"
     logged_in_greeting="Xin chào, XaPhongThanTre.vn có thể giúp gì được bạn?"
     logged_out_greeting="Xin chào, XaPhongThanTre.vn có thể giúp gì được bạn?">
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ec085673765e5e7"></script>



</body>
</html>