@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@{ 
    var isHomepage = CurrentPage.DocumentTypeAlias == "homePage";
    string metaTitle = !String.IsNullOrEmpty(CurrentPage.MetaTitle) ? CurrentPage.MetaTitle : CurrentPage.PageName;
    string metaDescription = !String.IsNullOrEmpty(CurrentPage.MetaDescription) ? CurrentPage.MetaDescription : !String.IsNullOrEmpty(CurrentPage.PageDescription)? CurrentPage.PageDescription: "";
    string metaKeyword = !String.IsNullOrEmpty(CurrentPage.MetaKeyword) ? CurrentPage.MetaKeyword : "";
    var mediaFile = !String.IsNullOrEmpty(CurrentPage.FeatureImage) ?  CurrentPage.FeatureImage : !String.IsNullOrEmpty(CurrentPage.FeartureImage) ? CurrentPage.FeartureImage : null;
    var featureImageArticle = mediaFile != null && Umbraco.Media(mediaFile).umbracoFile.GetType() != typeof(Umbraco.Core.Dynamics.DynamicNull) ? "http://" + HttpContext.Current.Request.Url.Host + Umbraco.Media(mediaFile).umbracoFile : "";
    var listProducts =  CurrentPage.AncestorOrSelf(1).Descendants("productPage").Where("Visible");
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<!--<![endif]-->
<head>
    <title>@metaTitle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <meta  content="@metaDescription" name="description" />
    <meta content="@metaKeyword" name="keywords" />
    <meta name="robots" content="index,follow" />
    <meta name="Googlebot" content="index,follow,noarchive" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="xaphongthantre.vn" />
    <meta http-equiv="content-language" content="vi"/>
    <meta property="og:url" content="@CurrentPage.UrlAbsolute()" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@metaTitle" />
    <meta property="og:description" content="@metaDescription" />
    <meta property="og:image" content="@featureImageArticle" />
    <link href="/Images/bamboo-icon-75293.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-92626638-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WD8SBZW');</script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1332725430083744'); // Insert your pixel ID here.
fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1332725430083744&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

</head>
<body class="homepage">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WD8SBZW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
<div id="page-wrapper">
    <div id="header-wrapper" class="@(isHomepage ? "" : "headerBG")">
        @if (isHomepage)
        {
            <div class="homecoverimage"><img src="/images/HomeCover4.jpg"/>
            </div>

        }

        <div id="header" class="container">
            <!-- Logo -->
            <h1 id="logo">
                <a href="/">Nature Clean Store</a>
            </h1>
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li>
                        <a href="#list_products">Sản phẩm</a>
                        @if (listProducts.Any())
                        { 
                            <ul>
                                @foreach (var item in listProducts)
                                {
                                    <li><a href="@item.Url">@item.PageName</a></li>
                                }
                            </ul>
                        }
                        
                    </li>
                    <li><a href="/trang-chu/chia-se/">Chia sẻ</a></li>
                    <li class="break"><a href="#contact-us">Liên hệ</a></li>
                    <li><a href="#open_facebook_box">Mua hàng</a></li>
                </ul>
            </nav>
            @if (isHomepage)
            {
                <!-- Hero -->
                <section id="hero" class="container">
                    <header>
                        <b>
                            <h2>
                                Xà phòng than tre hoạt tính <Br/> Active Bamboo Charcoal Soap
                            </h2>
                        </b>
                    </header>
                    @*<p>
                        <strong> 100% CHIẾT XUẤT THIÊN NHIÊN. <br/>Sản phẩm được xuất khẩu sang Nhật Bản từ năm 2009</strong>
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button">Xem thêm</a></li>
                    </ul>*@
                </section>
            }
        </div>

    </div>
    @RenderBody()
    <div class="wrapper">
        <section class="container">
            <header class="major" id="list_products">
                <h2>100% sản phẩm được chiết xuất từ thiên nhiên 100%</h2>
                <p>Sự khác biệt cơ bản giữa mỹ phẩm thiên nhiên và mỹ phẩm thường nằm ở Chất lượng nguyên liệu. Mỹ phẩm thiên nhiên nuôi dưỡng và phục hồi tế bào da, tóc bằng tinh dầu, chiết xuất và các hoạt chất khác từ thiên nhiên …</p>
            </header>
            @Html.Partial("ListProductsAtHomePage")
        </section>
    </div>
    <div id="footer-wrapper">
        <div id="footer" class="container">
            <header class="major" id="contact-us">
                <h2>Liên hệ với chúng tôi</h2>
                <p>
                    Hot line: 0934509023 - 0947337087 (imess, facetime, zalo, viber)
                </p>
            </header>
            <div class="row">
                <section class="6u 12u(narrower)">
                    <p>
                        Cơ sở 1: Tầng 6, tòa nhà BIDV, 3 Hàng Vôi, quận Hoàn Kiếm, Hà nội <br />
                        Tel: 0934509023. Từ 9-18h.
                    </p>
                    <p>
                        Cơ sở 2: Tầng 16, tòa nhà Cland, 156 Xã Đàn 2, quận Đống Đa, Hà Nội<br />
                        Tel: 0947337087. Từ 9-18h.
                    </p>
                    <p>
                        Cơ sở 3: 19 ngõ 298/26/25 Ngọc Lâm, quận Long Biên, Hà nội <br/>
                        Tel: 09 345 090 23. Từ 19-22h.
                    </p> @*<form method="post" action="#">
                            <div class="row 50%">
                                <div class="6u 12u(mobile)">
                                    <input name="name" placeholder="Name" type="text" />
                                </div>
                                <div class="6u 12u(mobile)">
                                    <input name="email" placeholder="Email" type="text" />
                                </div>
                            </div>
                            <div class="row 50%">
                                <div class="12u">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="row 50%">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" /></li>
                                        <li><input type="reset" value="Clear form" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>*@
                </section>
                <section class="6u 12u(narrower)">
                    <div class="row 0%">
                        <ul class="divided icons 6u 12u(mobile)" style="width: 55%">
                            <li class="icon fa-instagram"><a href="#"><span class="extra">instagram.com/</span>XaPhongThanTre</a></li>
                            <li class="icon fa-facebook"><a href="https://www.facebook.com/XaPhongThanTre/" target="_blank"><span class="extra">facebook.com/</span>XaPhongThanTre</a></li>
                            <li class="icon fa-envelope"><a href="mailto:kinhdoanh@xaphongthantre.vn" target="_blank"><span class="extra">kinhdoanh</span>@@xaphongthantre.vn</a></li>
                            @*<li class="icon fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>*@
                        </ul>
                        <ul class="divided icons 6u 12u(mobile)">
                            @*<li class="icon fa-instagram"><a href="#"><span class="extra">instagram.com/</span>untitled</a></li>*@
                            @*<li class="icon fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>*@
                            @*<li class="icon fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>*@
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div id="copyright" class="container">
            <ul class="menu">
                <li>&copy; Copyright by XaPhongThanTre.vn. All rights reserved.</li>
                <li>Design by Nature Clean Body Store</li>
            </ul>
        </div>
    </div>
</div>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
    <!--Start of Tawk.to Script-->
    @*<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58b9363cab48ef44eccf0762/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>*@
    <!--End of Tawk.to Script-->

    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
    <div id="cfacebook">
        <a href="javascript:;" class="chat_fb" onclick="return:false"><i class="fa fa-facebook-square"></i> Hỗ trợ - Đặt Hàng</a>
        <div class="fchat">
            <div class="fb-page" data-tabs="messages" data-href="https://www.facebook.com/XaPhongThanTre" data-width="250" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
        </div>
    </div>
</body>
</html>