@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterPage.cshtml";
}
@{
    var featureImage = CurrentPage.FeartureImage!=null ? Umbraco.Media(CurrentPage.FeartureImage).umbracoFile :"";
}

        <!-- Main -->
        <div class="wrapper">
            <div class="container" id="main">

                <!-- Content -->
                <article id="content">
                    <header>
                        <h2>@CurrentPage.PageName</h2>
                        <p>
                           Giá bán lẻ: @String.Format("{0:n0}", CurrentPage.Cost) VND <a class="btn btn-danger btn-small" href="#open_facebook_box"><i class="icon-folder-open"></i> Mua ngay</a>
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="@featureImage" alt=""/></a>
                    <p>
                        @CurrentPage.PageDescription
                    </p>
                    @CurrentPage.MainContent
                </article>

                @*<div class="row features">
                    <section class="4u 12u(narrower) feature">
                        <div class="image-wrapper first">
                            <a href="#" class="image featured"><img src="/images/pic04.jpg" alt="" /></a>
                        </div>
                        <header>
                            <h3>Dolor sit consequat magna</h3>
                        </header>
                        <p>
                            Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
                            vel sem sit dolor neque semper magna lorem ipsum.
                        </p>
                        <ul class="actions">
                            <li><a href="#" class="button">Elevate my awareness</a></li>
                        </ul>
                    </section>
                    <section class="4u 12u(narrower) feature">
                        <div class="image-wrapper">
                            <a href="#" class="image featured"><img src="/images/pic04.jpg" alt="" /></a>
                        </div>
                        <header>
                            <h3>Dolor sit consequat magna</h3>
                        </header>
                        <p>
                            Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
                            vel sem sit dolor neque semper magna lorem ipsum.
                        </p>
                        <ul class="actions">
                            <li><a href="#" class="button">Elevate my awareness</a></li>
                        </ul>
                    </section>
                    <section class="4u 12u(narrower) feature">
                        <div class="image-wrapper">
                            <a href="#" class="image featured"><img src="/images/pic05.jpg" alt="" /></a>
                        </div>
                        <header>
                            <h3>Dolor sit consequat magna</h3>
                        </header>
                        <p>
                            Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
                            vel sem sit dolor neque semper magna lorem ipsum.
                        </p>
                        <ul class="actions">
                            <li><a href="#" class="button">Elevate my awareness</a></li>
                        </ul>
                    </section>
                </div>*@
            </div>

            
        </div>

        <script type="text/javascript">
            fbq('track', 'ViewContent', 
                {
                    content_ids: ['@CurrentPage.PageName'],
                    content_type: 'product',
                    value: @CurrentPage.Cost,
                    currency: 'VND'
                }
            );
        </script>
