
@inherits UmbracoViewPage<IEnumerable<Merchello.Web.Models.VirtualContent.IProductContent>>
@using Merchello.Core
@{
    
    var selection = @Model.OrderBy(p=>p.Sku);
}

@if (selection.Any())
{
    <div class="row features">
        @foreach (var item in selection)
        {
            var featureImage = item.GetPropertyValue<string>("image") != null ? Umbraco.Media(item.GetPropertyValue<string>("image")).umbracoFile : "";
        <section class="6u 12u(narrower) feature product-item">
            <div class="image-wrapper first">
                <a href="@item.Url" class="image featured product-@item.Key"><img src="@featureImage" alt="" /></a>
            </div>
            <p>
                <span class="greenText">
                    <a href="@item.Url">@item.Name</a>
                </span>
                <br/><span class="costText">Giá: @String.Format("{0:n0}", item.Price) VND</span>
                @Html.Action("AddProductToBasketForm", "StoreBasket", new { area = "Merchello", model = item })
            </p>
        </section>
        }
    </div>
    @*<ul class="actions major">
        <li><a href="#" class="button">Mua hàng</a></li>
    </ul>*@


}

